@font-face {
  font-family: 'weather';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/artill_clean_icons-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/artill_clean_icons-webfont.eot#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/artill_clean_icons-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/artill_clean_icons-webfont.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16425/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
i {
  font-family: weather;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none; }

/* line 21, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-0:before {
  content: ":"; }

/* line 22, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-1:before {
  content: "p"; }

/* line 23, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-2:before {
  content: "S"; }

/* line 24, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-3:before {
  content: "Q"; }

/* line 25, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-4:before {
  content: "S"; }

/* line 26, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-5:before {
  content: "W"; }

/* line 27, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-6:before {
  content: "W"; }

/* line 28, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-7:before {
  content: "W"; }

/* line 29, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-8:before {
  content: "W"; }

/* line 30, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-9:before {
  content: "I"; }

/* line 31, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-10:before {
  content: "W"; }

/* line 32, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-11:before {
  content: "I"; }

/* line 33, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-12:before {
  content: "I"; }

/* line 34, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-13:before {
  content: "I"; }

/* line 35, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-14:before {
  content: "I"; }

/* line 36, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-15:before {
  content: "W"; }

/* line 37, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-16:before {
  content: "I"; }

/* line 38, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-17:before {
  content: "W"; }

/* line 39, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-18:before {
  content: "U"; }

/* line 40, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-19:before {
  content: "Z"; }

/* line 41, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-20:before {
  content: "Z"; }

/* line 42, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-21:before {
  content: "Z"; }

/* line 43, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-22:before {
  content: "Z"; }

/* line 44, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-23:before {
  content: "Z"; }

/* line 45, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-24:before {
  content: "E"; }

/* line 46, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-25:before {
  content: "E"; }

/* line 47, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-26:before {
  content: "3"; }

/* line 48, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-27:before {
  content: "a"; }

/* line 49, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-28:before {
  content: "A"; }

/* line 50, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-29:before {
  content: "a"; }

/* line 51, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-30:before {
  content: "A"; }

/* line 52, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-31:before {
  content: "6"; }

/* line 53, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-32:before {
  content: "1"; }

/* line 54, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-33:before {
  content: "6"; }

/* line 55, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-34:before {
  content: "1"; }

/* line 56, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-35:before {
  content: "W"; }

/* line 57, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-36:before {
  content: "1"; }

/* line 58, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-37:before {
  content: "S"; }

/* line 59, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-38:before {
  content: "S"; }

/* line 60, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-39:before {
  content: "S"; }

/* line 61, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-40:before {
  content: "M"; }

/* line 62, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-41:before {
  content: "W"; }

/* line 63, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-42:before {
  content: "I"; }

/* line 64, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-43:before {
  content: "W"; }

/* line 65, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-44:before {
  content: "a"; }

/* line 66, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-45:before {
  content: "S"; }

/* line 67, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-46:before {
  content: "U"; }

/* line 68, C:/Users/emily/Documents/GitHub/Weather-app/scss/_weather_icons.scss */
.icon-47:before {
  content: "S"; }

/* line 5, C:/Users/emily/Documents/GitHub/Weather-app/scss/_sidr.scss */
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 8em;
  overflow-x: hidden;
  overflow-y: auto;
  background: lightgrey; }
  /* line 17, C:/Users/emily/Documents/GitHub/Weather-app/scss/_sidr.scss */
  .sidr.left {
    left: -8em;
    right: auto; }

/* line 24, C:/Users/emily/Documents/GitHub/Weather-app/scss/_sidr.scss */
:target {
  z-index: 1; }

/* line 12, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg0 {
  background: url(../img/elephant.jpg); }

/* line 15, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg1 {
  background: url(../img/goats.jpeg); }

/* line 18, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg2 {
  background: url(../img/duck.jpeg); }

/* line 21, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg3 {
  background: url(../img/deer.jpeg); }

/* line 24, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg4 {
  background: url(../img/goats.jpeg); }

/* line 27, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg5 {
  background: url(../img/pig.jpeg); }

/* line 30, C:/Users/emily/Documents/GitHub/Weather-app/scss/_background.scss */
.bg6 {
  background: url(../img/pork.jpeg); }

/* line 8, C:/Users/emily/Documents/GitHub/Weather-app/scss/style.scss */
section {
  min-height: 20em;
  width: 100%;
  height: 2000px;
  position: block; }

/* line 17, C:/Users/emily/Documents/GitHub/Weather-app/scss/style.scss */
:target {
  z-index: 1; }

/* line 22, C:/Users/emily/Documents/GitHub/Weather-app/scss/style.scss */
h1 {
  font-family: 'Farsan', cursive; }

/*# sourceMappingURL=style.css.map */